name: Build Fast APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install Tools
        run: |
          pip install flet opencv-python-headless
      
      - name: Build APK with Permissions
        run: |
          # هنا السحر: إضافة صلاحية الكاميرا والإنترنت
          flet build apk --include-packages flet,opencv-python-headless --permissions CAMERA,INTERNET
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Hussein-Tool
          path: build/apk/*.apk
